$color-blue: #0090BF;
$color-blue-light:#00b6f2;
$color-white: #fff;
$color-text: #252525;
$shadow-two: 0 1rem 2rem rgba(0,0,0,.2);
$color-grey:#474747;
$color-grey-light: #f0f0f0;
$color-red: #dc271e;