<div class="damExplorer">
   <div class="damExplorer__container">
       <div class="damExplorer__top">
            <div class="damExplorer__top-box">
                <div class="damExplorer__top-box--search">
                    <input type="text" placeholder="Search for">
                    <div class="damBtn damExplorer__top-box--search--svg">
                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.005 512.005" style="enable-background:new 0 0 512.005 512.005;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M505.749,475.587l-145.6-145.6c28.203-34.837,45.184-79.104,45.184-127.317c0-111.744-90.923-202.667-202.667-202.667    S0,90.925,0,202.669s90.923,202.667,202.667,202.667c48.213,0,92.48-16.981,127.317-45.184l145.6,145.6    c4.16,4.16,9.621,6.251,15.083,6.251s10.923-2.091,15.083-6.251C514.091,497.411,514.091,483.928,505.749,475.587z     M202.667,362.669c-88.235,0-160-71.765-160-160s71.765-160,160-160s160,71.765,160,160S290.901,362.669,202.667,362.669z"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="damBtn damExplorer__top-box--search--svg">
                        <svg id="Capa_1" enable-background="new 0 0 386.667 386.667" height="512" viewBox="0 0 386.667 386.667" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m386.667 45.564-45.564-45.564-147.77 147.769-147.769-147.769-45.564 45.564 147.769 147.769-147.769 147.77 45.564 45.564 147.769-147.769 147.769 147.769 45.564-45.564-147.768-147.77z"/></svg>
                    </div>
                </div>
                <div class="damExplorer__top-box--filters">
                    <div class="damExplorer__top-box--checkbox">
                        <input type="checkbox">
                        <p>Product photography</p>
                    </div>
                    <div class="damExplorer__top-box--checkbox">
                        <input type="checkbox">
                        <p>Marketing material</p>
                    </div>
                    <div class="damExplorer__top-box--checkbox">
                        <input type="checkbox">
                        <p>Promotional videos</p>
                    </div>
                </div>
                <div class="damExplorer__top-box--selects">
                    <select name="" id="">
                        <option value="">Year</option>
                        <option value="">1991</option>
                        <option value="">1992</option>
                        <option value="">1993</option>
                    </select>
                    <select name="" id="">
                        <option value="">Month</option>
                        <option value="">1991</option>
                        <option value="">1992</option>
                        <option value="">1993</option>
                    </select>
                </div>
               
            </div>
       </div>
       <div class="damExplorer__bot">
           <div class="damExplorer__bot-left">
                <p>browse by tag</p>
                <p>my collection</p>
                <p>something</p>
                <p>more something</p>
                <p>yes</p>
           </div>
           <div class="damExplorer__bot-box">
               <div class="damExplorer__bot-box--container">
                    <div class="damExplorer__bot-box--container--item">
                        <div class="damExplorer__bot-box--container--item--imgBox">
                            <img src="https://i.picsum.photos/id/691/200/200.jpg?hmac=vQryVYx_-QSM9WMaRjBhUI7SB8Ad1FTmG9QkaQRgHFc" alt="">
                        </div>
                        <p>Cup of tea</p>
                    </div>
                    <div class="damExplorer__bot-box--container--item">
                        <div class="damExplorer__bot-box--container--item--imgBox">
                            <img src="https://i.picsum.photos/id/691/200/200.jpg?hmac=vQryVYx_-QSM9WMaRjBhUI7SB8Ad1FTmG9QkaQRgHFc" alt="">
                        </div>
                        <p>Cup of tea</p>
                    </div>
                    <div class="damExplorer__bot-box--container--item">
                        <div class="damExplorer__bot-box--container--item--imgBox">
                            <img src="https://i.picsum.photos/id/691/200/200.jpg?hmac=vQryVYx_-QSM9WMaRjBhUI7SB8Ad1FTmG9QkaQRgHFc" alt="">
                        </div>
                        <p>Cup of tea</p>
                    </div>
                    <div class="damExplorer__bot-box--container--item">
                        <div class="damExplorer__bot-box--container--item--imgBox">
                            <img src="https://i.picsum.photos/id/691/200/200.jpg?hmac=vQryVYx_-QSM9WMaRjBhUI7SB8Ad1FTmG9QkaQRgHFc" alt="">
                        </div>
                        <p>Cup of tea</p>
                    </div> 
                    <div class="damExplorer__bot-box--container--item">
                        <div class="damExplorer__bot-box--container--item--imgBox">
                            <img src="https://i.picsum.photos/id/691/200/200.jpg?hmac=vQryVYx_-QSM9WMaRjBhUI7SB8Ad1FTmG9QkaQRgHFc" alt="">
                        </div>
                        <p>Cup of tea</p>
                    </div>
                    <div class="damExplorer__bot-box--container--item">
                        <div class="damExplorer__bot-box--container--item--imgBox">
                            <img src="https://i.picsum.photos/id/691/200/200.jpg?hmac=vQryVYx_-QSM9WMaRjBhUI7SB8Ad1FTmG9QkaQRgHFc" alt="">
                        </div>
                        <p>Cup of tea</p>
                    </div> 
               </div>
               <div class="damExplorer__bot-box--controls">
                   <button class="damBtn damBtn__prev damExplorer__bot-box--controls--btn">Previous</button>
                   <button class="damBtn damBtn__next damExplorer__bot-box--controls--btn">Next</button>

               </div>
               <div class="damExplorer__bot-box--spinner damExplorer__bot-box--spinner--hidden">
                <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
               </div>
           </div>
           <div class="damExplorer__bot-right">
                <div class="damExplorer__bot-right--top">
                    <div class="damExplorer__bot-right--top--imgBox">
                        <img src="https://i.picsum.photos/id/691/200/200.jpg?hmac=vQryVYx_-QSM9WMaRjBhUI7SB8Ad1FTmG9QkaQRgHFc" alt="">
                    </div>
                    <p>Cup of tea</p>
                </div>
                <div class="damExplorer__bot-right--radio">
                    <div class="damExplorer__bot-right--radio--box">
                        <input type="radio" name="" id="">
                        <p>Original</p>
                    </div>
                    <div class="damExplorer__bot-right--radio--box">
                        <input type="radio" name="" id="">
                        <p>Screen</p>
                    </div>
                    <div class="damExplorer__bot-right--radio--box">
                        <input type="radio" name="" id="">
                        <p>Preview</p>
                    </div>
                    <div class="damExplorer__bot-right--radio--box">
                        <input type="radio" name="" id="">
                        <p>Thumbnail</p>
                    </div>
                    <div class="damExplorer__bot-right--radio--box">
                        <input type="radio" name="" id="">
                        <p>Collection</p>
                    </div>
                </div>
                <div class="damExplorer__bot-right--checkbox">
                    <input type="checkbox" name="" id="">
                    <p>Sync with DAM</p>
                </div>
                <button class="damBtn damExplorer__bot-right--btn">Save</button>
           </div>
       </div>
   </div>
</div>