.damExplorer{
    font-family: 'Open Sans', sans-serif;
    color: $color-text;
    &__test{
        border: 1px solid $color-text;
        width: 1200px;
        height: auto;
    }
    &__container{
        display:flex;
        flex-direction: column;
    }
    &__top{
        display:grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        column-gap: 20px;
        background-color: $color-grey-light;

        &-bar{
            grid-column: 1/6;
            grid-row: 1;
            height: 50px;
            width: 100%;
            background-color: $color-red;
        }
        &-box{
            grid-column: 2/5;
            
            padding: 40px 0;
            &--search{
                display:flex;
                align-items: center;
                & input{
                    border: none;
                    padding: 10px 25px;
                    margin-right: 15px;
                    border-radius: 5px;
                    height: 30px;
                    width: 100%;
                    font-size: 1.2rem;
                    font-family: 'Open Sans', sans-serif;
                    &::placeholder{
                        font-size: 1.2rem;
                        font-family: 'Open Sans', sans-serif;

                    }
                }

                &--svg{
                    height: 40px;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    &:not(:last-child){
                        margin-right: 10px;
                    }
                    & svg{
                        height: 20px;
                        width: 20px;
                        fill: $color-white;
                    }
                }
                
            }
            &--filters{
                display:flex;
                justify-content: space-around;
                flex-wrap: wrap;

            }

            &--checkbox{
                display:flex;
                & input {
                    cursor: pointer;
                }

                & p {
                    margin-left: 5px;
                }
            }

            &--selects{
                display:flex;
                &--select{
                    position: relative;
                    &:not(:last-child){
                        margin-right: 20px;

                    }
                    & select{   
                        padding: 5px 40px 5px 20px;
                        appearance: none;
                        
                        & option{
                            font-family: 'Open Sans', sans-serif;
                            cursor: pointer;
                        }
                    }
                }
                & svg {
                    fill: $color-white;
                    position: absolute;
                    right: 10px;
                    top: 2px;
                }
                

            }
        }
    }
    &__bot{
        display:grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        column-gap: 20px;
        background-color: $color-grey-light;

        &-left{
            grid-column: 1/2;
            grid-row: 1;
            padding: 15px 0 0 30px;
            background-color: $color-grey;
            color: $color-white;
            font-weight: 600;
            & p {
                padding:0;
                margin: 0;
                font-size: 12px;
                margin-bottom: 5px;
                cursor: pointer;

            }
        }

        &-box{
            grid-column: 2/5;
            grid-row: 1;
            position: relative;
            width: 100%;
            display:flex;
            flex-direction: column;
            align-items: center;
            padding-top: 15px;
            padding-bottom: 40px;
            &--container{
                width: 100%;
                display:grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: auto;
                column-gap: 20px;
                row-gap: 20px;

                &--item{
                    width:100%;
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    box-shadow: $shadow-two;
                    border-radius: 5px;
                    &--imgBox{
                        width:100%;
                        height: 150px;

                        & img {
                            width:100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        
                    }
                    & p {
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 14px;
                        letter-spacing: 1px;
                    }
                }
            }

            &--controls{
                margin-top: 30px;
                display:flex;
                &--btn {
                    &:not(:last-child){
                        margin-right: 20px;

                    }
                    min-width: 100px;
                    display:flex;
                    justify-content: center;
                }
              
            }

            &--spinner{
                position: absolute;
                height: 100%;
                width: 100%;
                background-color: $color-grey-light;
                top:0;
                left:0;
                display:flex;
                justify-content: center;
                align-items: center;
                transition: all .2s;
                &--hidden{
                    pointer-events: none;
                    visibility: hidden;
                    opacity: 0;
                    transition: all .2s;

                }

            }
        }
        &-right{
            grid-column: 5/6;
            grid-row: 1;
            padding: 15px 30px 0 20px;
            display:flex;
            flex-direction: column;
            background-color: $color-grey;
            color: $color-white;
            &--top{
                width:100%;
                display:flex;
                flex-direction: column;
                align-items: center;
                box-shadow: $shadow-two;
                border-radius: 5px;
                &--imgBox{
                    width:100%;
                    height: 150px;
                    & img {
                        width:100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    
                }
                & p {
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 14px;
                    letter-spacing: 1px;
                }
            }
            

            &--radio{
                padding: 30px 0 10px 0;
                &--box{
                    display:flex;
                    align-items: center;
                    &:not(:last-child){
                        margin-bottom: 10px;

                    }
                    & input{
                        padding:0;
                        margin: 0 10px 0 0;
                        cursor: pointer;
                    }
                    & p {
                        margin: 0;
                        padding: 0;
                        font-size: 14px;
                    }
                }
            }
            &--checkbox{
                display:flex;
                margin-bottom: 25px;
                & input {
                    padding:0;
                    margin: 0 10px 0 0;
                    cursor: pointer;

                }
                & p {
                    font-size: 14px;

                }
            }
            &--btn{
                align-self: center;
            }
        }
    }
}