<div class="damLogin">
    <div class="damLogin__container">
        <div class="damLogin__input">
            <input type="text" name="user" id="user">
            <label for="user">Username</label>

        </div>
        <div class="damLogin__input">
            <input type="password" name="pw" id="pw">
            <label for="pw">API Key</label>

        </div>
        <div class="damLogin__input">
            <input type="text" name="user" id="user">
            <label for="user">Url</label>

        </div>
        <button class="damBtn damLogin__save">Save</button>
    </div>
</div>